{% extends 'base/base.html' %}

{% block title %} Create Grant Goal View {% endblock title %}

{% block content %}
  <form action="" class="form-group" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-outline-success">Create</button>
    <a href="{% url 'api:gg_list_client' %}" class="btn btn-outline-warning">Cancel</a>
  </form>
{% endblock content %}