{% extends 'base/base.html' %}

{% block title %}List View{% endblock title%}

{% block newgrantgoal %}
    <a href="{% url 'api:create_grantgoal' %}" class="btn btn-outline-success">Create a GrantGoal</a>
{% endblock newgrantgoal %}

{% block content %}
    <a href="{% url 'api:gg_create_client' %}" class="btn btn-outline-success form-control">Create New GrantGoal</a>
    <br><br>
    <table class="table table-hover">
        <thead>
            <th>Goal Title</th>
            <th>ID</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for gg in list_grant_goal %}
                <tr>
                    <td>{{ gg.goal_title }}</td>
                    <td>{{ gg.id }}</td>
                    <td><a href='{% url "api:gg_detail_client" gg.id %}' class="btn btn-outline-primary">Detail</a></td>
                    <td><a href='{% url "api:gg_update_client" gg.id %}' class="btn btn-outline-warning">Update</a></td>
                    <td><a href='' class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}