{% extends "base/base.html" %}

{% block title %}
  UPDATE GRANT GOAL CLIENT VIEW
{% endblock title %}

{% block content %}
    <form action="" method="put" class="form">
        {% csrf_token %}
        <label for="user">User</label>
        <input type="text" class="form-control" name="user" id="user" value="{{ grantgoal.user }}">
        <label for="goal_title">GrantGoalTitle</label>
        <input type="text" class="form-control" name="goal_title" id="goal_title" value="{{ grantgoal.goal_title }}">
        <label for="description">GrantGoal Description</label>
        <input type="text" class="form-control" name="description" id="description" value="{{ grantgoal.description }}">
        <label for="days_duration">GrantGoal Days Duration</label>
        <input type="text" class="form-control" name="days_duration" id="days_duration" value="{{ grantgoal.days_duration }}">
        <label for="status">GrantGoal Status</label>
        <input type="text" class="form-control" name="status" id="status" value="{{ grantgoal.status }}">
        <label for="state">GrantGoal State</label>
        <input type="text" class="form-control" name="state" id="state" value="{{ grantgoal.state }}">
        <label for="description">GrantGoal Sprint</label>
        <input type="text" class="form-control" name="sprint" id="sprint" value="{{ grantgoal.sprint }}">
        <label for="description">GrantGoal Slug</label>
        <input type="text" class="form-control" name="slug" id="slug" value="{{ grantgoal.slug }}">
        <br><hr>
        <button type="submit" class="btn btn-outline-primary form-control">Update GrantGoal</button>
        <a href="{% url 'api:gg_list_client' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}